* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-block {
    max-width: 700px;
    margin: 100px auto;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     grid-gap: 30px;
    .pagination {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto 50px auto;
        button {
            padding: 5px 9px;
            border: 1px solid rgb(38, 134, 197);
            color: rgb(38, 134, 197);
            border-radius: 50%;
            background-color: white;
        }
        .active-btn {
            background-color:rgb(38, 134, 197) ;
            color: white;
            border: 1px solid white;
        }
    }
}